CONFIG_DESKTOP=n
CONFIG_LONG_OPTS=y
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_VERBOSE_USAGE=n
CONFIG_LFS=y
CONFIG_FEATURE_DEVPTS=n
CONFIG_FEATURE_UTMP=n
CONFIG_FEATURE_WTMP=n
CONFIG_FEATURE_PIDFILE=n
CONFIG_FEATURE_SUID=n
CONFIG_FEATURE_INSTALLER=n
CONFIG_LOCALE_SUPPORT=n
CONFIG_UNICODE_SUPPORT=n
CONFIG_SUBST_WCHAR=0
CONFIG_SELINUX=n
CONFIG_STATIC=y
CONFIG_PIE=n
CONFIG_CROSS_COMPILER_PREFIX="x86_64-elf-"
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_INSTALL_APPLET_HARDLINKS=n
CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS=n
CONFIG_INSTALL_APPLET_DONT=n
CONFIG_SH_IS_ASH=n
CONFIG_SH_IS_HUSH=n
CONFIG_SH_IS_NONE=y
CONFIG_SHELL_ASH=n
CONFIG_ASH=n
CONFIG_CTTYHACK=n
CONFIG_HUSH=n
CONFIG_SHELL_HUSH=n
CONFIG_BASH_IS_ASH=n
CONFIG_BASH_IS_HUSH=n
CONFIG_BASH_IS_NONE=y
CONFIG_FEATURE_PREFER_APPLETS=n
CONFIG_BUSYBOX=y
CONFIG_BASENAME=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CMP=y
CONFIG_CP=y
CONFIG_CUT=y
CONFIG_DATE=y
CONFIG_DD=y
CONFIG_DIRNAME=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_EXPR=y
CONFIG_FALSE=y
CONFIG_GREP=y
CONFIG_HEAD=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MV=y
CONFIG_PRINTF=n
CONFIG_PWD=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SED=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_TAIL=y
CONFIG_TEST=y
CONFIG_TOUCH=n
CONFIG_TRUE=y
CONFIG_UNAME=y
CONFIG_UNIQ=y
CONFIG_VI=y
CONFIG_FEATURE_VI_MAX_LEN=4096
CONFIG_FEATURE_VI_8BIT=y
CONFIG_FEATURE_VI_COLON=y
CONFIG_FEATURE_VI_YANKMARK=y
CONFIG_FEATURE_VI_SEARCH=y
CONFIG_FEATURE_VI_USE_SIGNALS=y
CONFIG_FEATURE_VI_DOT_CMD=y
CONFIG_FEATURE_VI_READONLY=y
CONFIG_WC=y
CONFIG_WHICH=y
CONFIG_XARGS=y
